<div class="background" [style.backgroundImage]="'url(' + imageSlides[currentSlideIndex].image + ')'">
    <div class="overlay">
      <h1>{{ imageSlides[currentSlideIndex].title }}</h1>
      <p>{{ imageSlides[currentSlideIndex].description }}</p>
    </div>
  </div>
  
  <!-- Navigation dots to manually switch between slides -->
  <div class="navigation-dots">
    <span *ngFor="let slide of imageSlides; let i = index"
          [class.active]="i === currentSlideIndex"
          (click)="goToSlide(i)">
    </span>
  </div>
  