.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
    transition: filter 0.3s ease-in-out;
  
    &.blurred {
      filter: blur(5px);
      pointer-events: none; // Prevent clicking while blurred
    }
  
    .login-box {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      width: 350px;
      text-align: center;
  
      .tabs {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
  
        button {
          background-color: transparent;
          border: none;
          font-size: 16px;
          color: #757575;
          cursor: pointer;
  
          &.active {
            color: #81c784;
            border-bottom: 2px solid #81c784;
          }
        }
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        .input-group {
          display: flex;
          align-items: center;
          background-color: #f9f9f9;
          padding: 12px;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
  
          i {
            margin-right: 10px;
            color: #81c784;
          }
  
          input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            background-color: transparent;
            padding-left: 10px;
  
            &:focus {
              outline: none;
            }
          }
        }
  
        .remember-me {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
  
          label {
            margin-left: 10px;
            color: #757575;
          }
        }
  
        button {
          background-color: #81c784;
          color: white;
          padding: 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #66bb6a;
          }
  
          &:disabled {
            background-color: #bdbdbd;
            cursor: not-allowed;
          }
        }
      }
  
      .forgot-password {
        margin-top: 20px;
        display: block;
        color: #81c784;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  