.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .spacer {
    flex: 1;
  }
  
  .sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 250px;
    background-color: #f1f1f1;
  }
  
  .close-button {
    display: block;
    margin-left: auto;
  }
  