<!-- <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>KokaE</span>
    <span class="spacer"></span>
    <button mat-button>Login</button>
    <button mat-raised-button color="accent">Get started</button>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <button mat-icon-button (click)="sidenav.close()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
      <a mat-list-item routerLink="/services">Our Services</a>
      <a mat-list-item routerLink="/rewards">Rewards Programme</a>
      <a mat-list-item routerLink="/contact">Contact Us</a>
      <a mat-list-item routerLink="/about">About Us</a>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <app-home></app-home>
    </mat-sidenav-content>
  </mat-sidenav-container>
   -->